.btn{
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 13px 25px;
	font-size: 16px;
	font-weight: bold;
	font-family: $font;
	line-height: 1.3;
	color: $white;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.3s ease;
	user-select: none;
	background-color: $yellow;
	border: none;
	border-radius: 40px;
	transform: translate3d(0,0,0);
	@include res(xs){
		padding: 11px 20px;
		font-size: 14px;
	}

	&:focus,&:hover{
		outline: none;
		background-color: lighten($yellow,10%);
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
		transform: translate3d(0,-2px,0);
	}

	&:active{
		background-color: darken($yellow,5%);
		transform: translate3d(0,0,0);
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0);
	}

	.i-hare{
		font-size: 19px;
		position: relative;
		top: 2px;
		margin-left: 7px;
	}
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}