// Default variables
$font_size: 16px !default;
$font_size_small: 12px !default;

$input_border_radius: 2px !default;
$input_height: 27px !default;
$input_height_small: 36px !default;
$dropdown_padding: 20px !default;

$gray_dark: #444 !default;
$gray: #999 !default;
$gray_light: #e8e8e8 !default;
$gray_lighter: #f6f6f6 !default;
$primary_light: $gray !default;
$arrow_color: $gray !default;

// Style the dropdown
.nice-select {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-color: #fff;
	border-radius: $input_border_radius;
	border: none;
	box-sizing: border-box;
	clear: both;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 16px;
	font-weight: normal;
	height: $input_height;
	line-height: $input_height;
	outline: none;
	padding-left: $dropdown_padding;
	padding-right: $dropdown_padding + 12;
	position: relative;
	text-align: left !important;
	transition: all 0.2s ease-in-out;
	user-select: none;
	white-space: nowrap;
	width: auto;
	@include res(l){
		font-size: 14px;
		padding-left: 10px;
		padding-right: 26px;
	}
	&:hover {
		border-color: darken($gray_light, 5%);
	}
	&:active, &:focus {
		border-color: $primary_light;
	}
	// Arrow
	&:after {
		content: '\e901';
		font-family: 'amzoo' !important;
		font-size: 5px;
		position: absolute;
		right: 10px;
		top: 0;
	}

	.current{
		display: inline-block;
		max-width: 80px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&.open {
		@extend :active;

		.list {
			opacity: 1;
			pointer-events: auto;
			transform: scale(1) translateY(0);
		}
	}
	&.disabled {
		border-color: lighten($gray_light, 2%);
		color: $gray;
		pointer-events: none;
	}


	// List and options
	.list {
		border-radius: 2px;
		background-color: $violet;
		box-sizing: border-box;
		margin-top: 4px;
		opacity: 0;
		padding: 12px 0;
		pointer-events: none;
		position: absolute;
		top: calc(100% + 8px);
		right: 0;
		z-index: 9;
		transform: translate3d(0,5px,0);
		transition: all 0.2s ease;
		box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
		width: 200px;
		@include res(m){
			width: 140px;
		}
		&:hover .option:not(:hover) {
			background-color: transparent !important;
		}

		&:before{
			content: '';
			position: absolute;
			top: -4px;
			right: 10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 12px 6px 12px;
			border-color: transparent transparent $violet transparent;
		}
	}
	.option {
		color: #FFF;
		cursor: pointer;
		font-weight: 400;
		font-size: 12px;
		line-height: 27px;
		list-style: none;
		min-height: 27px;
		outline: none;
		padding-left: $dropdown_padding;
		padding-right: $dropdown_padding + 11;
		text-align: left;
		transition: all 0.2s;
		&:hover, &.focus, &.selected.focus {
			background-color: #565db3;
		}
		&.selected {

		}
		&.disabled {
			background-color: transparent;
			color: $gray;
			cursor: default;
		}
	}
}

// Use display instead of opacity for IE <= 10
.no-csspointerevents .nice-select {
	.list {
		display: none;
	}
	&.open {
		.list {
			display: block;
		}
	}
}