.container{
	width: $container_width;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 14px;
}


//s-head
.s-header{
	background: $gradient;
	color: $white;
	overflow: hidden;
	position: relative;

	&:after{
		content: '';
		width: 100%;
		height: 80px;
		background: url("../img/wave.png") center bottom no-repeat;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.top-panel{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 55px;
	@include res(xl){
		padding-top: 40px;
	}
	@include res(l){
		padding-top: 30px;
	}
	@include res(xs){
		flex-direction: column;
		justify-content: center;
	}
}

.top-logo{
	flex-shrink: 0;
	margin-right: 30px;
	width: 188px;
	height: auto;
	display: block;
	user-select: none;
	@include res(l){
		width: 130px;
	}
	@include res(xs){
		margin-right: 0;
		margin-bottom: 14px;
	}
}

.top-nav{
	width: 100%;
	max-width: 500px;
	flex-shrink: 1;
	user-select: none;
	@include res(m){
		display: none;
	}

	ul{
		display: flex;
		justify-content: space-between;
		list-style: none;

		li{

			a{
				padding: 10px;
				transition: all 0.3s ease;

				&:hover,&:focus{
					outline: none;
					color: $yellow;
				}
			}
		}
	}
}

.top-btn{
	margin-left: 30px;
	@include res(xs){
		margin-left: 0;
	}
}


.header-main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 80px;
	@include res(l){
		padding-top: 60px;
	}
	@include res(m){
		flex-wrap: wrap;
	}

	&__text{
		width: 355px;
		max-width: 100%;
		flex-shrink: 0;
		padding-right: 20px;
		margin-top: -80px;
		@include res(m){
			text-align: center;
			padding-right: 0;
			margin: 0 auto 40px;
		}
	}

	&__img{
		display: block;
		flex-shrink: 1;
		@include res(m){
			width: 100%;
			height: auto;
		}
	}

	&__title{
		font-weight: bold;
		font-size: 30px;
		line-height: 1.2;
		@include res(xs){
			font-size: 24px;
		}
	}

	&__subtitle{
		font-size: 30px;
		font-weight: 100;
		@include res(xs){
			font-size: 24px;
		}
	}
}

.screen{
	position: relative;
	width: 100%;
	border: 2px solid rgba(255,255,255,0.7);
	border-radius: 8%/11%;
	padding: 5.4% 5%;
	overflow: hidden;
	margin-bottom: -5.7%;
	user-select: none;
	pointer-events: none;

	&__img{
		display: block;
		width: 100%;
		height: auto;
	}

	&:before{
		content: '';
		width: 8px;
		height: 8px;
		position: absolute;
		z-index: 2;
		left: 0;
		right: 0;
		top: 20px;
		margin: auto;
		background: transparentize(#FFF,0.9);
		border-radius: 50%;
	}

	&:after{
		content: '';
		width: 40%;
		height: 100%;
		background: linear-gradient(to bottom,rgba(255,255,255,0.1),transparent);
		position: absolute;
		top: 0;
		right: 0;
		transform-origin: right top;
		transform: skewX(30deg);
	}
}
//s-head


//s-footer
.s-footer{
	background: $gradient;
	color: #FFF;
	padding: 30px 0;
}
//s-footer


//s-main
.s-main{
	padding: 40px 0;
	@include res(m){
		padding: 20px 0;
	}

	&__title{
		text-align: center;
		margin-bottom: 0.8em;
	}
}
//s-main



//main-block
.main-block{
	display: flex;
	align-items: flex-start;
	@include res(l){
		flex-wrap: wrap;
	}

	&__aside{
		width: 275px;
		padding-top: 50px;
		padding-right: 20px;
		flex-shrink: 0;
		@include res(l){
			width: 100%;
			padding-right: 0;
			padding-top: 0;
			margin-bottom: 10px;
		}
	}
	
	&__main{
		width: 100%;
		flex-shrink: 1;
	}
}
//main-block


//cats
.cats{
	background: #FFF;
	user-select: none;
	@include res(l){
		width: 250px;
	}

	&__title{
		padding: 15px 17px;
		transition: all 0.3s ease;
		cursor: pointer;
		
		&:hover{
			background: $yellow;
		}

		i{
			font-size: 13px;
			margin-right: 10px;
		}
	}

	&__list{
		list-style: none;
		font-size: 14px;
		padding-bottom: 10px;
		@include res(l){
			display: none;
		}

		li{
			display: block;
			position: relative;
			padding: 5px 15px;
			cursor: pointer;

			&:after{
				content: '\e905';
				font-family: 'amzoo' !important;
				font-size: 8px;
				position: absolute;
				right: 15px;
				top: calc(50% - 4px);
			}

			&:hover{
				background: lighten($violet,25%);
				color: #FFF;
			}

			&.active{
				background: $violet;
				color: #FFF;
				pointer-events: none;
			}
		}
	}
}
//cats


//table
.table{

	&__content{
		position: relative;
		background: #FFF;
		padding: 15px 0;

		&:after{
			content: '';
			width: 100%;
			height: 16px;
			background: #FFF;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
//table


//table-head
.table__head{
	display: flex;
	white-space: nowrap;
	height: 50px;
	user-select: none;
	@include res(m){
		height: auto;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	.i-sort{
		font-size: 14px;
		margin-right: 5px;
	}
	.i-updown{
		font-size: 12px;
		margin-left: 3px;
	}

	.table__col{
		display: flex;
		align-items: center;
		@include res(m){
			width: auto;
			padding: 10px;
			margin-right: 10px;
			display: none;
		}
	}

	.table__col[data-sort]{
		cursor: pointer;
		transition: color 0.3s ease;
		@include res(m){
			display: flex;
		}
		&:hover{
			color: $yellow;
		}
		&.active{
			color: $yellow;
		}
	}
	.table__col--language{
		.style-select{
			margin-left: 8px;
		}
		@include res(m){
			display: flex;
			order: 10;
			//margin-left: auto;
		}
	}
}
//table-head


//table-cols
.table__col{
	padding: 0 8px;

	&--first{
		padding-left: 20px;
		width: 13%;
		flex-shrink: 0;
	}
	&--name{
		width: 50%;
		.stars{
			justify-content: center;
		}
	}
	&--type,&--description{
		width: 40%;
	}
	&--language{
		width: 50%;
	}
	&--marketplace{
		width: 30%;
	}
	&--for{
		width: 22%;
		text-align: center;
		justify-content: center;
	}
	&--price{
		width: 30%;
		text-align: center;
		justify-content: center;
	}
}
//table-cols


//table-content
.table__content{
	.table__col{
		@include res(m){
			width: 100%;
			padding: 0;
			margin-bottom: 10px;
		}

		&--first{
			@include res(m){
				width: 93px;
			}
		}
	}

	.flags{
		@include res(m){
			justify-content: center;
		}
	}
}
//table-content


//table-item
.table-item{
	display: flex;
	align-items: center;
	padding: 10px 0;
	border-top: 1px solid #edf1f8;
	cursor: pointer;
	transition: background-color 0.2s ease;
	@include res(m){
		padding: 10px 15px 0 15px;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	
	&:hover{
		background-color: #edf1f8;

		.h3{
			color: $yellow;
		}
	}

	&.hidden{
		display: none;
	}

	.h3{
		transition: color 0.2s ease;
	}

	.stars{
		margin-top: 8px
	}

	&__thumb{
		display: block;
		width: 100%;
		height: auto;
	}
}

.has-sub{
	position: relative;
	color: $violet;
	text-decoration: underline;
	cursor: default;

	&__sub{
		position: absolute;
		top: calc(100% + 8px);
		right: 0;
		visibility: hidden;
		opacity: 0;
		transform: translate3d(0,5px,0);
		transition: all 0.2s ease;
		pointer-events: none;
		background: $violet;
		color: #FFF;
		width: 208px;
		padding: 15px;
		font-size: 13px;
		line-height: 1.4;
		border-radius: 2px;
		box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
		@include res(m){
			width: 140px;
		}

		&:before{
			content: '';
			position: absolute;
			top: -4px;
			right: 10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 12px 6px 12px;
			border-color: transparent transparent $violet transparent;
		}
	}

	&:hover{
		.has-sub__sub{
			visibility: visible;
			opacity: 1;
			transform: none;
		}
	}
}
//table-item


//stars
.stars{
	display: flex;
}

.i-star{
	font-size: 17px;
	margin-right: 6px;
	color: #dcdcdc;

	&:last-child{
		margin-right: 0;
	}
	
	&--full{
		color: $yellow;
	}
}
//stars


//flags
.flags{
	display: flex;
	flex-wrap: wrap;

	img{
		flex-shrink: 0;
		display: inline-block;
		vertical-align: top;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		margin: 0 8px 8px 0;
	}
}
//flags


//price
.price{
	font-size: 29px;
	font-weight: bold;
	color: $yellow;
	@include res(xl){
		font-size: 22px;
	}
	@include res(l){
		font-size: 20px;
	}
	@include res(m){
		font-size: 18px;
	}

	sup{
		font-size: 50%;
	}
}
//price


//table__more
.table__more{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	border: none;
	background: transparent;
	cursor: pointer;
	color: #434343;
	padding: 15px 0;
	transition: all 0.3s ease;
	text-transform: uppercase;

	span{
		margin-top: 8px;
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 17.5px 0 17.5px;
		border-color: currentColor transparent transparent transparent;
	}
	
	&:hover{
		outline: none;
		background: $yellow;
	}

	&:focus{
		outline: none;
	}

	&:disabled{
		opacity: 0;
		pointer-events: none;
	}
}
//table__more